body {
    background: black;
    margin: 0rem 0rem 0rem 0rem;
}

#image {
    display: flex;
    top: 0; left:0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.5;
} 

.container-header {
    position: relative;
    background: #931F1D;
    width:100vw;
    height:100vh;
}

.heading {
    position: absolute;
    top:20vh; left: 9vw;
    font-family: News Cycle;
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
    color: #F9F9F9;
    text-shadow: 1px 1px 3px gray;
    padding: 0rem 0rem 0rem 0rem;
}

.deck {
    position: absolute;
    top:35vh; left: 9vw;
    font-family: News Cycle;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    color: #F9F9F9;
    text-shadow: 1px 1px 3px gray;
    padding: 4.5em 0rem 0rem 0rem;
}

.video {
    /* display: flex; */
    /* justify-content: flex-start; */
    /* height: 100%; */
    width: 100%;
    margin: 0rem 0rem 0rem 0rem;
    padding: 3rem 3rem 3rem 3rem;
} 

.text-left {
    display: flex;
    justify-content: flex-end;
    font-family: News Cycle;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.6em;
    color: #F9F9F9;
    padding: 3rem 3rem 3rem 3rem;
}

.intro-example {
    display: flex;
    justify-content: flex-end;
    padding: 3rem 5rem 3rem 3rem;
}

.container-intro {
    display: flex;
    background: #931F1D;
}

.intro {
    display: flex;
    justify-content: center;
    font-family: 'Gilda Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: left;
    color: #F9F9F9;
    padding: 1rem 25rem 1rem 25rem;
}

/* end of intro, beginning of body */

/* containers */

.container-body-row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    background: #F9F9F9;
}

.container-body-column {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background: #F9F9F9;
}

.bars {
    display: flex;
    justify-content: flex-start;
}

.text-right {
    display: flex;
    justify-content: flex-end;
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: left;
    color: #514843;
    padding: 10rem 10rem 1rem 10rem;
}

.middle {
    display: flex;
    justify-content: center;
    font-family: News Cycle;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: left;
    color: #514843;
    padding: 1rem 25rem 1rem 25rem;
}

.posters {
    display: flex;
    justify-content: center;
}

.biffy {
    display: flex;
    justify-content: center;
}

.pre-button {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background: #F9F9F9;
}

.sparklines {
    display: flex;
    justify-content: center;
    padding-top: 0rem;
    margin-top: -9rem;
}

.container-conclusion {
    display: flex;
    background: #931F1D;
}

.conclusion {
    display: flex;
    justify-content: center;
    font-family: 'Gilda Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: left;
    color: #F9F9F9;
    padding: 1rem 25rem 1rem 25rem;
}

.data-container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: auto;
    background: #931F1D;
}

.data-box {
    display: flex;
    justify-content: center;
    font-family: News Cycle;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.3em;
    text-align: left;
    color: #F9F9F9;
    padding: 1rem 25rem 1rem 25rem;
}

.all-posters {
    display: flex;
    justify-content: center;
    margin: 0rem 0rem 0rem 0rem;
}