html {
    height: 100%;
}

body {
    display: block;
    background: black;
    margin: 0px 0px 0px 0px;
}

#video {
    position: absolute; 
    top: 0; left:0;
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 100vh;
    z-index: -1;
} 

#image {
    position: absolute; 
    top: 0; left:0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.5;
} 

.container-1 {
    position: relative;
} 

.content-1a {
    position:absolute;
    top:35vh; left:9vw;
    /* background: #F9F9F9; */
    /* box-shadow: -5px 10px 2px rgba(255, 255, 255, 0.3); */
    font-family: News Cycle;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 60px;
    color: #F9F9F9;
    text-shadow: 1px 1px 3px gray;
    padding: 0px 10px 0px 20px;
    width: 50vw
}

.content-1b {
    position:absolute;
    top:65vh; left:9vw;
    /* background: #F9F9F9; */
    /* box-shadow: -5px 10px 2px rgba(255, 255, 255, 0.3); */
    font-family: News Cycle;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #F9F9F9;
    text-shadow: 1px 1px 3px gray;
    padding: 0px 10px 0px 20px;
    width: auto
}

.content-1c {
    position: absolute;
    top:30vh; left:70vw;
    width:25vw;
}

.container-2 {
    position: relative;
}

.content-2a {
    position:absolute;
    top:35vh; left:9vw;
    /* background: #F9F9F9; */
    /* box-shadow: -5px 10px 2px rgba(255, 255, 255, 0.3); */
    font-family: News Cycle;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 60px;
    color: #F9F9F9;
    text-shadow: 1px 1px 3px gray;
    padding: 0px 10px 0px 20px;
    width: 50vw
}

.content-2b {
    position:absolute;
    top:73vh; left:9vw;
    /* background: #F9F9F9; */
    /* box-shadow: -5px 10px 2px rgba(255, 255, 255, 0.3); */
    font-family: News Cycle;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #F9F9F9;
    text-shadow: 1px 1px 3px gray;
    padding: 0px 10px 0px 20px;
    width: auto
}

.content-2c {
    position: absolute;
    top:25vh; left:70vw;
    width:25vw;
}

.container-3 {
    position: relative;
}

.content-3a {
    position:absolute;
    top:35vh; left:9vw;
    /* background: #F9F9F9; */
    /* box-shadow: -5px 10px 2px rgba(255, 255, 255, 0.3); */
    font-family: News Cycle;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 60px;
    color: #F9F9F9;
    text-shadow: 1px 1px 3px gray;
    padding: 0px 10px 0px 20px;
    width: 50vw
}

.content-3b {
    position: absolute;
    top:20vh; left:70vw;
    width:25vw;
}

.container-4 {
    position: relative;
    width:100vw;
    height:75vh;
    background: #931F1D;
}

.content-4 {
    position:absolute;
    top:30vh; left:9vw;
    /* background: #F9F9F9;
    box-shadow: -5px 10px 2px rgba(255, 255, 255, 0.3);
    border: 3px solid #931F1D; */
    /* box-sizing: border-box; */
    font-family: News Cycle;
    font-family: News Cycle;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 60px;
    color: #F9F9F9;
    text-shadow: 1px 1px 3px gray;
    padding: 0px 10px 0px 10px;
    width: auto;
}

.container-5 {
    position: relative;
    background: #931F1D;
    width:100vw;
    height:100vh;
}

.heading {
    position: absolute;
    top:20vh; left: 9vw;
    /* background: #F9F9F9;
    border: 5px solid #931F1D;
    box-sizing: border-box; */
    font-family: News Cycle;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #F9F9F9;
    text-shadow: 1px 1px 3px gray;
    padding: 0px 20px 0px 20px;
}

.deck {
    position: absolute;
    top:35vh; left: 9vw;
    /* background: #F9F9F9;
    border: 5px solid #931F1D;
    box-sizing: border-box; */
    font-family: News Cycle;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    color: #F9F9F9;
    text-shadow: 1px 1px 3px gray;
    padding: 0px 15px 0px 15px;
}

.container-6 {
    position: relative;
    width:100vw;
    height: 150vh;
    background: #931F1D;
}

.intro {
    position: absolute;
    width: 40vw;
    left: 30vw;
    top: 5vh;
    /* background: #F9F9F9; */
    /* border: 5px solid #931F1D;
    box-sizing: border-box; */
    font-family: 'Gilda Display', serif;
    /* letter-spacing: 1px; */
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    color: #F9F9F9;
    /* text-shadow: 1px 1px 3px gray; */
    padding: 0px 20px 0px 20px;
}

.container-7 {
    position: relative;
    background: #F9F9F9;
    /* border-left: 5px solid #931F1D;
    border-right: 5px solid #931F1D;
    border-top: 5px solid #931F1D;
    box-sizing: border-box; */
    width: 100vw;
    height: 65vh;
}

.text-right {
    position: absolute;
    top: 30vh;
    left: 50vw;
    right: 5vw;
    font-family: 'News Cycle';
    /* letter-spacing: 1px; */
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 33px;
    text-align: left;
    color: #514843;
    padding: 10px 50px 10px 10px;
}

.container-8 {
    position: relative;
    background: #F9F9F9;
    /* border-left: 5px solid #931F1D;
    border-right: 5px solid #931F1D;
    box-sizing: border-box; */
    width: 100vw;
    height: 90vh;
}

.text-right-2 {
    position: absolute;
    top: 18vh;
    left: 60vw;
    right: 0vw;
    font-family: News Cycle;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 33px;
    text-align: left;
    color: #514843;
    padding: 10px 50px 10px 10px;
}

.text-right-3 {
    position: absolute;
    top: 7vh;
    left: 50vw;
    right: 3vw;
    font-family: News Cycle;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 33px;
    text-align: left;
    color: #514843;
    padding: 10px 50px 10px 10px;
}

.container-9 {
    position: relative;
    background: #F9F9F9;
    /* border-left: 5px solid #931F1D;
    border-right: 5px solid #931F1D;
    box-sizing: border-box; */
    width: 100vw;
    height: 100vh;
}

.container-10 {
    position: relative;
    background: #F9F9F9;
    /* border-left: 5px solid #931F1D;
    border-right: 5px solid #931F1D;
    box-sizing: border-box; */
    width: 100vw;
    height: 105vh;
}

.container-arc {
    position: relative;
    background: #F9F9F9;
    /* border-left: 5px solid #931F1D;
    border-right: 5px solid #931F1D;
    box-sizing: border-box; */
    width: 100vw;
    /* height: 3000px; */
}

.container-arc-year {
    position: relative;
    background: #F9F9F9;
    /* border-left: 5px solid #931F1D;
    border-right: 5px solid #931F1D;
    box-sizing: border-box; */
    width: 100vw;
    /* height: 3000px; */
}

.container-11 {
    position: relative;
    background: #F9F9F9;
    /* border-left: 5px solid #931F1D;
    border-right: 5px solid #931F1D;
    box-sizing: border-box; */
    width: 100vw;
    height: 70vh;
}

.container-12 {
    position: relative;
    background: #F9F9F9;
    /* border-left: 5px solid #931F1D;
    border-right: 5px solid #931F1D;
    box-sizing: border-box; */
    width: 100vw;
    height: 65vh;
}

.container-13 {
    position: relative;
    background: #F9F9F9;
    /* border-left: 5px solid #931F1D;
    border-right: 5px solid #931F1D;
    box-sizing: border-box; */
    width: 100vw;
    height: 80vh;
}

.container-14 {
    position: relative;
    background: #F9F9F9;
    /* border-left: 5px solid #931F1D;
    border-right: 5px solid #931F1D;
    box-sizing: border-box; */
    width: 100vw;
    height: 20vh;
}

.container-15 {
    position: relative;
    background: #F9F9F9;
    /* border-left: 5px solid #931F1D;
    border-right: 5px solid #931F1D;
    box-sizing: border-box; */
    width: 100vw;
    height: 85vh;
}

.container-16 {
    position: relative;
    background: #F9F9F9;
    /* border-left: 5px solid #931F1D;
    border-right: 5px solid #931F1D;
    box-sizing: border-box; */
    width: 100vw;
    height: 95vh;
}

.container-17 {
    position: relative;
    width:100vw;
    height: 115vh;
    background: #931F1D;
}

.caption-text {
    position: absolute;
    top: 37vh;
    left: 60vh;
    /* right: 40vh; */
    width: 40vw;
    font-family: News Cycle;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 33px;
    text-align: left;
    color: #514843;
}

.center-text {
    position: absolute;
    top: 0vh;
    left: 60vh;
    /* right: 40vh; */
    width: 40vw;
    font-family: News Cycle;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 33px;
    text-align: left;
    color: #514843;
}

.center-text-arc {
    position: absolute;
    top: 0vh;
    left: 60vh;
    width: 40vw;
    font-family: News Cycle;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 33px;
    text-align: left;
    color: #514843;
}

.arc-caption-left {
    position: absolute;
    top: 25vh;
    left: 10vh;
    padding: 0px 10px 0px 10px;
    background: #931F1D;
    opacity: 0.5;
    font-family: News Cycle;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    color: #F9F9F9;
}

.arc-caption-right {
    position: absolute;
    top: 25vh;
    right: 10vh;
    padding: 0px 10px 0px 10px;
    background: #931F1D;
    opacity: 0.5;
    font-family: News Cycle;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    color: #F9F9F9;
}

.placeholder-bottom {
    position: absolute;
    background: #C4C4C4;
    top: 40vh;
    left: 30vw;
    right: 30vw;
    width: 40vw;
    height: 50vh;
}

.collage {
    position: absolute;
    top: 33vh;
    left: 25vw;
    width: 50vw;
}

.diagram {
    position: absolute;
    top: 20vh;
    left: 35vw;
    width: 30vw;
}

.example {
    position: absolute;
    top: 57vh;
    left: 35vw;
    width: 30vw;
}

.template {
    position: absolute;
    top: 0vh;
    left: 35vw;
    width: 30vw;
}

.biffy {
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100vw;
}

.biffy-line {
    position: absolute;
    top: 45vh;
    left: 5vw;
    width: 90vw;
}

.case-study-1975 {
    position: absolute;
    top: 23vh;
    left: 15vw;
    width: 100vw;
    /* height: 2vh; */
}

.case-study-arctic {
    position: absolute;
    top: 30vh;
    left: 15vw;
    width: 100vw;
    /* height: 2vh; */
}

.case-study-wombats {
    position: absolute;
    top: 25vh;
    left: 15vw;
    width: 100vw;
    /* height: 2vh; */
}

.all-posters {
    position: absolute;
    top: 20vh;
    left: 0vw;
    right:0vw;
    width: 100vw;
    /* height: 2vh; */
}

.data-container {
    position: relative;
    width:100vw;
    height: 700vh;
    background: #931F1D;
}

.data-box {
    position: absolute;
    width: 40vw;
    left: 30vw;
    /* background: #F9F9F9; */
    /* border: 5px solid #931F1D;
    box-sizing: border-box; */
    font-family: News Cycle;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
    text-align: left;
    color: #F9F9F9;
    padding: 0px 20px 0px 20px;
}